.white-theme {
  padding: 20px;
  background: white;
  margin-top: 30px;
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  color: #999;
  transition: all .3s;
}

.button-go-to-tuition {
  text-align: right;
}

.button-go-to-tuition-detail {
  width: 160px;
}

.dynamic-delete-button:hover {
  color: #1890ff;
}

.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.image-large-center {
  width: 200px;
  height: 200px;
  display: block;
}

.upload-button {
  margin-top: 24px;
}

.ant-form-item-label {
  text-align: left !important;
}

.edit-profile {
  display: block;
}

@media only screen and (max-width: 1024) {
  .edit-profile {
    display: flex;
    flex-direction: column;
  }
}


@media (max-width: 1024px) {
  .ant-col-xs-24.ant-form-item-label {
    padding: 0 0 8px;
    margin: 0;
    display: block;
    text-align: left;
    line-height: 1.5;
  }
}

@media (max-width: 1024px) {
  .ant-form-item-label {
    padding: 0 0 8px;
    margin: 0;
    display: block;
    text-align: left;
    line-height: 1.5;
  }
}

@media (max-width: 1024px) {

  .ant-form-item-label,
  .ant-form-item-control-wrapper {
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 1383px) {
  .margin-responsive {
    margin-right: 0px !important;
  }
}

@media only screen and (max-width: 894px) {
  .edit-profile {
    display: flex;
    flex-direction: column;
  }

  .text-responsive-bold {
    text-align: left !important;
  }
}

.text-responsive-bold {
  font-weight: bold;
}

.dashboard-row {
  border-bottom: 1px solid black;
  padding: 10px 0px;
}

.custom-antd-date-picker {
  position: relative;
}

.custom-antd-date-picker .ant-calendar-picker-input {
  display: none !important;
}

.custom-antd-date-picker .ant-calendar-picker-icon {
  margin-top: -12px !important;
  display: block !important;
}

.edit-profile-user .ant-table-placeholder {
  z-index: 0;
}

.edit-profile-user .ant-select-combobox .ant-select-search__field {
  z-index: 0;
}

.date-input-container input[type=date]::-webkit-inner-spin-button,
.date-input-container input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.education-header {
  margin-top: 0;
  margin-bottom: .5em;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.enjoyhint_hide {
  display: none;
}

@media only screen and (max-width: 763px) {
  .button-go-to-tuition {
    text-align: left;
    margin-top: 15px;
  }
}